*{
    margin: 0; 
    padding: 0;
    }
    body {
    background: linear-gradient( #141e30,#243b55);
    height: 100vh;
    }
    nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 15px;
    background: linear-gradient(#808080,#05423e);
    }
    nav a {
    text-decoration: none;
    color: white;
    }
    .list{
        display: flex;
        list-style: none;
        gap: 25px;
    }
    
    
    #checkbox, label{
    display: none;
    }
    label i{
    color: white;
    }
    @media screen and (max-width: 504px){
    .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    }
    label{
    display: inline-flex;
    }
    #checkbox:checked~.menu{
    max-height: 100%;
    }
    .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }
}